/* body */
body {
  font-family: "Roboto", sans-serif;
}
/* ./body */

/* Project/Content-Project */
.btn-1 {
  background-color: #289672;
  color: #e6dd3b;
  padding: 7px;
  border-radius: 5px;
}

.btn-1:hover {
  color: white;
}
/* ./Project/Content-Project */
