/* body */
body {
  font-family: "Roboto", sans-serif;
}
/* ./body */

/* Project/Content-Project */
.btn-1 {
  background-color: #289672;
  color: #e6dd3b;
  padding: 7px;
  border-radius: 5px;
}

.btn-1:hover {
  color: white;
}
/* ./Project/Content-Project */

/* Content/Artikel Info */
#bg-shadow {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
/* ./Content/Artikel Info */
